.descriptor-text-div{
    width:100% - 8px;
    height:100%;
    padding-left:8px;
    padding-right:8px;
    max-width: 750px;
}

#descriptor-text-title{
    margin-bottom:8px;
    padding-top: 8px;
    border-bottom: 2px solid rgba(168, 168, 168, 0.5);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

#descriptor-text-subtext{
    padding-bottom: 4px;
}